* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
}

body {
   background-image: url(img/background.png);
   background-repeat: no-repeat;
   background-size: cover;
}

/*************************************/
/* General */
/*************************************/

.fontwarna {
   color: #161a66;
}

.jenisfont{
   font-family: 'Work Sans', sans-serif;
}

/*************************************/
/* Navigation */
/*************************************/

nav ul li:not(:last-child) {
   margin-right: 100px;
   color: #161a66;
}

/*************************************/
/* Section 1 */
/*************************************/

#home {
   padding-top: 50px;
}

#dog {
   width: 100%;
   max-width: 300px;
   border-radius: 70px;
   height: auto;
}

#vet {
   background-color: #161a66;
   color: white;
}

.judul {
   font-size: 5rem;
   font-weight: 500;
}

.img-dog {
   float: right;
}
