* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
}

body {
   background-image: url(../img/background.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

/*************************************/
/* General */
/*************************************/

.fontcolor {
   color: #161a66;
}

.fontstyle {
   font-family: 'Work Sans', sans-serif;
}

/*************************************/
/* Navigation */
/*************************************/

nav ul li:not(:last-child) {
   margin-right: 50px;
}

/*************************************/
/* Home */
/*************************************/

#home {
   height: calc(100vh - 70px);
}

#dog {
   width: 100%;
   max-width: 300px;
   border-radius: 70px;
   height: auto;
}

#vet {
   background-color: #161a66;
   color: white;
   font-size: 20px;
   padding: 16px 12px;
}

.title-home {
   font-size: 60px;
   font-weight: 500;
}

.subtitle-home {
   font-size: 20px;
}

/*************************************/
/* About Us */
/*************************************/

#about {
   background-color: #d9d9d9;
   margin: 0 0 100px 0;
}

#us {
   color: white;
}

#us-background {
   background-color: #161a66;
}

#us-text {
   font-size: 16px;
}

/*************************************/
/* Offer */
/*************************************/

#offer {
   font-weight: 700;
   font-size: 50px;
}

#cat {
   max-width: 300px;
}

#icon {
   width: 50px;
}

/*************************************/
/*  Articles  */
/*************************************/

#articles {
   background-color: #d9d9d9;
}

#learn {
   font-weight: 700;
}

#color {
   border: 2px solid #161a66;
}

#articles3-title {
   font-size: 18px;
   font-weight: 500;
}

.texttransform {
   text-transform: capitalize;
}

.articles-img {
   width: 18rem;
}

/*************************************/
/*  Footer  */
/*************************************/
#footer {
   background-color: #161a66;
}

#logo {
   width: 200px;
   background-color: white;
   border-radius: 20%;
   padding-bottom: 0px;
}

#logo-position{
   padding-bottom: 0px;
}


.footer-fontcolor {
   color: white;
}

/*************************************/
/*  Media Query  */
/*************************************/

/* 1440px (Laptop L) */
@media (min-width: 1366px) {
   /* home */
   .title-home {
      font-size: 70px;
   }
   .subtitle-home {
      font-size: 23px;
   }

   #dog {
      max-width: 500px;
   }
}

/* 768px (Tablet) */
@media (max-width: 992px) {
   /* home */
   .title-home {
      font-size: 40px;
   }
   .subtitle-home {
      font-size: 15px;
   }

   #dog {
      max-width: 500px;
   }

   #vet {
      font-size: 12px;
   }

   /* offer */
   #offer {
      font-weight: 700;
      font-size: 50px;
   }

   #cat {
      max-width: 200px;
   }

   #icon {
      width: 40px;
   }

   /* articles */
   .articles-img {
      width: 15rem;
   }

   /* footer */
   #logo {
      max-width: 130px;
   }
}

/* 425px 375px 320px (Mobile) */
@media (max-width: 426px) {
   /* home */
   .title-home {
      font-size: 25px;
   }

   .subtitle-home {
      font-size: 12px;
   }

   #dog {
      max-width: 120px;
   }

   #vet {
      font-size: 10px;
      padding: 10px 8px;
   }

   /* about us */
   #us-text {
      font-size: 12px;
   }

   /* offer */
   #offer {
      font-size: 30px;
   }
   
   /* footer */
   #logo {
      max-width: 100px;
   }

   #logo-position{
      padding-bottom: 50px;
   }   
}
