/*************************************/
/*  Query Vet 1  */
/*************************************/
#josephine-card {
   width: 18rem;
   background-color: #161a66;
}

/*************************************/
/*  Query Vet 1  */
/*************************************/

/* 1440px (Laptop L) */
@media (min-width: 1410px) {
   .vet-name {
      font-size: 71px;
   }

   .vet-description {
      font-size: 20px;
   }

   #vet-button {
      height: 50px;
      font-size: 20px;
   }

   #josephine {
      height: 350px;
   }
}

/* 768px (Tablet) */
@media (max-width: 992px) {
   .vet-name {
      font-size: 30px;
   }

   .vet-description {
      font-size: 12px;
   }

   #vet-button {
      height: 40px;
      font-size: 10px;
   }

   #josephine {
      height: 180px;
   }

   #josephine-add {
      font-size: 10px;
   }

   #josephine-card {
      width: 10rem;
   }
}

/* 425px 375px 320px (Mobile) */
@media (max-width: 426px) {
   #doctors {
      height: auto;
      padding-top: 40px;
   }
   .vet-name {
      font-size: 30px;
   }

   .vet-description {
      font-size: 12px;
   }

   #vet-button {
      height: 40px;
      font-size: 10px;
   }

   #josephine {
      height: 180px;
   }

   #josephine-add {
      font-size: 10px;
   }

   #josephine-card {
      width: 10rem;
      height: 20rem;
   }
}
