/* Paw Care */
/* 2272029 - Josephine Alvina Luwia */
/* 2272041 - Rafael Cavin Emmanuel Tuasuun */
/*************************************/
/*  Query Vet 1  */
/*************************************/
#josephine-card {
   width: 18rem;
   background-color: #161a66;
}

/*************************************/
/*  Query Vet 1  */
/*************************************/

/* 1440px (Laptop L) */
@media (min-width: 1410px) {
   .vet-name {
      font-size: 71px;
   }

   .vet-description {
      font-size: 20px;
   }

   #vet-button {
      height: 50px;
      font-size: 20px;
   }

   #josephine {
      height: 350px;
   }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1025px) {
   .vet-name {
      font-size: 50px;
   }

   .vet-description {
      font-size: 15px;
   }

   #vet-button {
      height: 30px;
      font-size: 10px;
   }

   #josephine {
      height: 270px;
   }

   #josephine-add {
      font-size: 17px;
   }

   #josephine-card {
      width: 15rem;
      height: 25rem;
   }

}

/* 768px (Tablet) */
@media (max-width: 992px) {
   .vet-name {
      font-size: 30px;
   }

   .vet-description {
      font-size: 12px;
   }

   #vet-button {
      height: 40px;
      font-size: 10px;
   }

   #josephine {
      height: 180px;
   }

   #josephine-add {
      font-size: 10px;
   }

   #josephine-card {
      width: 10rem;
   }
}

/* 425px 375px 320px (Mobile) */
@media (max-width: 426px) {
   #doctors {
      height: auto;
      padding-top: 40px;
   }
   .vet-name {
      font-size: 30px;
   }

   .vet-description {
      font-size: 12px;
   }

   #vet-button {
      height: 40px;
      font-size: 10px;
   }

   #josephine {
      height: 180px;
   }

   #josephine-add {
      font-size: 10px;
   }

   #josephine-card {
      width: 10rem;
      height: 20rem;
   }
}
/*************************************/
/*  Query Vet 2  */
/*************************************/

/* 1440px (Laptop L) */
@media (min-width: 1410px) {
   .vet-name {
      font-size: 71px;
   }

   .vet-description {
      font-size: 20px;
   }

   #vet-button {
      height: 50px;
      font-size: 20px;
   }

   #josephine {
      object-fit: cover;
      object-position: top;
      height: 400px;
      width: 100%;
   }

   .card {
      margin-top: -1rem;
      height: 35rem;
   }
}

/* 768px (Tablet) */
@media (max-width: 992px) {
   .vet-name {
      font-size: 30px;
   }

   .vet-description {
      font-size: 12px;
   }

   #vet-button {
      height: 40px;
      font-size: 10px;
   }

   #josephine {
      height: 180px;
   }

   #josephine-add {
      font-size: 10px;
   }

   #josephine-card {
      width: 10rem;
   }
}

/* 425px 375px 320px (Mobile) */
@media (max-width: 426px) {
   #doctors {
      height: auto;
      padding-top: 40px;
   }
   .vet-name {
      font-size: 30px;
   }

   .vet-description {
      font-size: 12px;
   }

   #vet-button {
      height: 40px;
      font-size: 10px;
   }

   #josephine {
      height: 180px;
   }

   #josephine-add {
      font-size: 10px;
   }

   #josephine-card {
      width: 10rem;
      height: 20rem;
   }
}

/*desktop default */
@media screen and (min-width: 1366px) {
   #josephine {
      object-fit: cover;
      object-position: top;
      height: 352px;
      width: 100%;
   }

   .card {
      margin-top: -1rem;
      height: 30rem;
   }

   .card-title {
      margin-bottom: -0.6rem;
      font-size: 1.1rem;
   }
}
